@set tv_scrollbar {
	.base { width: 2px; }
	:root { background-color: #0E0E0E; }
	:root:hover { }
	.base, .prev, .next, .next-page, .prev-page { 
		background-color: transparent; border: none;
	}
	.slider { 
		height:15px;
		background: #000;
	}
	.slider:hover {
		/*background: #333;*/
	}
}
#aboutBtn {
	behavior:~ "main.button";
}
#channleList {
	width:200px;
	height:100%%;
	background:#0E0E0E;
	overflow:auto; vertical-scrollbar: tv_scrollbar;
	padding:15px 0;
}
#channleList:hover {
	assigned!: self:focus = true;
}
#player {height:100%%;background:#000000;padding:5px;}
#playerWidget {	background:#000000;}
#channelListUl {margin:0;padding:0;}
#channelListUl li {
	list-style:none;
	display:block;
	width:100%%;
	height:30px;
	line-height:30px;
	color:#FFF;
	font-size:12px;
	cursor:pointer;	
	padding-left:10px;
	behavior:~url(main.channle);	
}
#channelListUl li a {
	display:block;
	width:100%%;
	cursor:pointer;
	padding-left:23px;
	foreground:url(/res/styles/images/live.png) no-repeat left center;	
}
#channelListUl li:hover {
	color:#B70031;
	background:#000000;
	opacity:0.9;
}
#channelListUl li[selected=selected]{
	color:#B70031;
	background:#000000;
	opacity:0.9;
}
#controls {
	height:30px;
	width:100%%;
	background: #333;
	display:table;
	padding:0px 15px;
}
#ctrl-wrap {	
	width:100%%;height:100%%;
	display:table-cell;vertical-align:middle;
	flow:horizontal;
}
#ctrl-left,#ctrl-right {
	flow:horizontal;
	width:120px;
}
#ctrl-left {text-align:left;}
#ctrl-center {
	width:100%%;
	flow:horizontal;
	padding:0 30px 0 10px;
}
.ctrl-btn {height: 16px; width:16px;margin-right:25px; cursor:pointer; overflow: hidden; behavior:~url(main.playerControl);}
#ctrlChannel {background: url(/res/styles/images/setting.png);}
#ctrlOpen {background: url(/res/styles/images/open.png);}
#ctrlPlay {background: url(/res/styles/images/play.png);}
#ctrlMute {width:19px; height: 23px; background: url(/res/styles/images/volume.png); behavior:~url(main.playerControl);}
#ctrlVolume {margin-top:5px;behavior:~url(main.playerControl);}
#ctrlVolume img {display: none; width:7px; height:11px; overflow:hidden;}
#ctrlVolume img {display: block; background-image: none;background-color: #f26c4f; foreground-image: none; }
#ctrlProgress {margin-top:8px;width:100%%;behavior:~url(main.playerControl);}
#ctrlProgress img {width:7px; height:11px;display: block; background-image: none;background-color: #f26c4f; foreground-image: none; }
#timeshow {width:150px;line-height: 30px;color:#FFF;font-size:12px;}